<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="MVCIISGP" stopProcessing="true">
                    <match url="(.*[^])$" />
                    <conditions>
                        <add input="{URL}" pattern="public/" negate="true" />
                        <add input="{URL}" pattern="favicon.ico" negate="true" />
                    </conditions>
                    <action type="Redirect" url="./?/{R:1}" redirectType="Temporary" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
